@import url("https://fonts.googleapis.com/css?family=Montserrat:600,400");
* {
  outline-width: 0;
  font-family: "Montserrat" !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  background-color: #202225;
}

#container {
  height: 100vh;
  background-size: cover !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inviteContainer {
  display: flex;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 10px 50px 10px #111111;
}

#inviteContainer .acceptContainer {
  padding: 45px 30px;
  box-sizing: border-box;
  width: 400px;
}

#inviteContainer .acceptContainer:before {
  content: "";
  background-size: cover !important;
  box-shadow: inset 0 0 0 3000px rgba(40, 43, 48, 1);
  filter: blur(10px);
  position: absolute;
  width: 150%;
  height: 150%;
  top: -50px;
  left: -50px;
}

.divForm {
  padding-bottom: 15px;
  position: relative;
  text-align: center;
  height: 100%;
  margin-bottom: 50px;
}

.divForm h1 {
  margin: 0 0 15px 0;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 30px;
  color: #fff;
}

.divForm .serverInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divForm .serverInfo .img {
  width: 100px;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.divForm .serverInfo .img img {
  width: 75%;
  border-radius: 50%;
}

.divForm .serverInfo h2 {
  color: #fff;
}

.divForm .serverInfo h2 span {
  font-family: "Montserrat";
  font-weight: 600;
}

.divForm .serverInfo h2 .by {
  font-size: 20px;
  opacity: 0.7;
}

.divForm .serverInfo h2 .name {
  font-size: 20px;
}

.divForm .serverInfo h2 .server {
  font-size: 25px;
}

.logoContainer {
  padding: 45px 30px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logoContainer img {
  width: 150px;
  margin-bottom: -5px;
  display: block;
  position: relative;
  border-radius: 50%;
}

.logoContainer .text {
  padding: 25px 0 10px 0;
  color: #202225;
  z-index: 1;
}

.logoContainer:before {
  content: "";
  background-size: cover !important;
  position: absolute;
  top: -50px;
  left: -50px;
  width: 150%;
  height: 150%;
  filter: blur(10px);
  box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.9);
}

.acceptBtn {
  width: 100%;
  box-sizing: border-box;
  background: #7289da;
  border: none;
  color: #fff;
  padding: 15px 0;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
  transition: 0.2s ease;
  font-weight: 600;
}

.acceptBtn:hover {
  background: #6b7fc5;
}

* {
  box-sizing: border-box;
}

main.main {
  background-color: #202225;
  font-family: arial;
  width: 100vw;
  height: 100vh;
  color: white;
  position: relative;
  perspective: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}

main.main .background {
  position: absolute;
  right: 50%;
  width: 100%;
  transform: scale(1) rotate(20deg);
  display: flex;
  opacity: 0.5;
}

@media screen and (min-width: 0px) and (max-width: 675px) {
  .logoContainer {
    display: none;
  }

  main.main .background {
    transform: scale(0.75) rotate(20deg);
  }
}

main.main .background .inner > div:nth-child(1) {
  animation: loop_1 var(--duration) infinite normal linear;
}

main.main .background .inner > div:nth-child(2) {
  animation: loop_2 var(--duration) infinite normal linear;
}

main.main .background .inner > div:nth-child(3) {
  animation: loop_3 var(--duration) infinite normal linear;
}

main.main .background .inner > div:nth-child(4) {
  animation: loop_4 var(--duration) infinite normal linear;
}

main.main .background .inner > div:nth-child(5) {
  animation: loop_5 var(--duration) infinite normal linear;
}

main.main .background .inner > div:nth-child(6) {
  animation: loop_6 var(--duration) infinite normal linear;
}

main.main .background .inner > div:nth-child(7) {
  animation: loop_7 var(--duration) infinite normal linear;
}

main.main .background .inner > div:nth-child(8) {
  animation: loop_8 var(--duration) infinite normal linear;
}

main.main .background .inner > div:nth-child(9) {
  animation: loop_9 var(--duration) infinite normal linear;
}

main.main .background .inner > div:nth-child(10) {
  animation: loop_10 var(--duration) infinite normal linear;
}

main.main .background .inner > div:nth-child(11) {
  animation: loop_11 var(--duration) infinite normal linear;
}

main.main .background .inner > div:nth-child(12) {
  animation: loop_12 var(--duration) infinite normal linear;
}

main.main .background .inner > div:nth-child(13) {
  animation: loop_13 var(--duration) infinite normal linear;
}

main.main .background .inner > div:nth-child(14) {
  animation: loop_14 var(--duration) infinite normal linear;
}

main.main .background .inner > div:nth-child(15) {
  animation: loop_15 var(--duration) infinite normal linear;
}

main.main .background .inner > div:nth-child(16) {
  animation: loop_16 var(--duration) infinite normal linear;
}

main.main .background .inner > div:nth-child(17) {
  animation: loop_17 var(--duration) infinite normal linear;
}

main.main .background .inner > div:nth-child(18) {
  animation: loop_18 var(--duration) infinite normal linear;
}

main.main .background .inner > div:nth-child(19) {
  animation: loop_19 var(--duration) infinite normal linear;
}

main.main .background .inner > div:nth-child(20) {
  animation: loop_20 var(--duration) infinite normal linear;
}

main.main .background .inner > div:nth-child(21) {
  animation: loop_21 var(--duration) infinite normal linear;
}

main.main .overlay {
  position: relative;
  z-index: 100;
  padding: 32px;
  border-radius: 16px;
  color: black;
  width: 110%;
  max-width: 700px;
  text-align: center;
}

main.main .overlay h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

main.main .overlay p {
  margin-bottom: 20px;
}

main.main .overlay p strong {
  font-weight: 700;
}

main.main .overlay .link {
  width: 100%;
  padding: 10px;
  background: #404eed;
  border-radius: 30px;
  margin-top: 30px;
  display: block;
  color: white;
  text-decoration: none;
}

@keyframes loop_1 {
  0% {
    display: block;
    transform: translateY(200px);
  }
  40% {
    display: none;
    transform: translateY(-1100px);
  }
  100% {
    display: block;
    transform: translateY(200px);
  }
}

@keyframes loop_2 {
  0% {
    display: block;
    transform: translateY(200px);
  }
  40% {
    display: none;
    transform: translateY(-1100px);
  }
  100% {
    display: block;
    transform: translateY(200px);
  }
}

@keyframes loop_3 {
  0% {
    display: block;
    transform: translateY(200px);
  }
  40% {
    display: none;
    transform: translateY(-1100px);
  }
  100% {
    display: block;
    transform: translateY(200px);
  }
}

@keyframes loop_4 {
  0% {
    display: block;
    transform: translateY(200px);
  }
  40% {
    display: none;
    transform: translateY(-1100px);
  }
  100% {
    display: block;
    transform: translateY(200px);
  }
}

@keyframes loop_5 {
  0% {
    display: block;
    transform: translateY(200px);
  }
  40% {
    display: none;
    transform: translateY(-1100px);
  }
  100% {
    display: block;
    transform: translateY(200px);
  }
}

@keyframes loop_6 {
  0% {
    display: block;
    transform: translateY(200px);
  }
  40% {
    display: none;
    transform: translateY(-1100px);
  }
  100% {
    display: block;
    transform: translateY(200px);
  }
}
@keyframes loop_7 {
  0% {
    display: block;
    transform: translateY(200px);
  }
  40% {
    display: none;
    transform: translateY(-1100px);
  }
  100% {
    display: block;
    transform: translateY(200px);
  }
}

@keyframes loop_8 {
  0% {
    display: block;
    transform: translateY(200px);
  }
  40% {
    display: none;
    transform: translateY(-1100px);
  }
  100% {
    display: block;
    transform: translateY(200px);
  }
}

@keyframes loop_9 {
  0% {
    display: block;
    transform: translateY(200px);
  }
  40% {
    display: none;
    transform: translateY(-1100px);
  }
  100% {
    display: block;
    transform: translateY(200px);
  }
}

@keyframes loop_10 {
  0% {
    display: block;
    transform: translateY(200px);
  }
  40% {
    display: none;
    transform: translateY(-1100px);
  }
  100% {
    display: block;
    transform: translateY(200px);
  }
}

@keyframes loop_11 {
  0% {
    display: block;
    transform: translateY(200px);
  }
  40% {
    display: none;
    transform: translateY(-1100px);
  }
  100% {
    display: block;
    transform: translateY(200px);
  }
}

@keyframes loop_12 {
  0% {
    display: block;
    transform: translateY(200px);
  }
  40% {
    display: none;
    transform: translateY(-1100px);
  }
  100% {
    display: block;
    transform: translateY(200px);
  }
}

@keyframes loop_13 {
  0% {
    display: block;
    transform: translateY(200px);
  }
  40% {
    display: none;
    transform: translateY(-1100px);
  }
  100% {
    display: block;
    transform: translateY(200px);
  }
}
@keyframes loop_14 {
  0% {
    display: block;
    transform: translateY(200px);
  }
  40% {
    display: none;
    transform: translateY(-1100px);
  }
  100% {
    display: block;
    transform: translateY(200px);
  }
}

@keyframes loop_15 {
  0% {
    display: block;
    transform: translateY(200px);
  }
  40% {
    display: none;
    transform: translateY(-1100px);
  }
  100% {
    display: block;
    transform: translateY(200px);
  }
}

@keyframes loop_16 {
  0% {
    display: block;
    transform: translateY(200px);
  }
  40% {
    display: none;
    transform: translateY(-1100px);
  }
  100% {
    display: block;
    transform: translateY(200px);
  }
}

@keyframes loop_17 {
  0% {
    display: block;
    transform: translateY(200px);
  }
  40% {
    display: none;
    transform: translateY(-1100px);
  }
  100% {
    display: block;
    transform: translateY(200px);
  }
}

@keyframes loop_18 {
  0% {
    display: block;
    transform: translateY(200px);
  }
  40% {
    display: none;
    transform: translateY(-1100px);
  }
  100% {
    display: block;
    transform: translateY(200px);
  }
}

@keyframes loop_19 {
  0% {
    display: block;
    transform: translateY(200px);
  }
  40% {
    display: none;
    transform: translateY(-1100px);
  }
  100% {
    display: block;
    transform: translateY(200px);
  }
}

@keyframes loop_20 {
  0% {
    display: block;
    transform: translateY(200px);
  }
  40% {
    display: none;
    transform: translateY(-1100px);
  }
  100% {
    display: block;
    transform: translateY(200px);
  }
}

@keyframes loop_21 {
  0% {
    display: block;
    transform: translateY(200px);
  }
  40% {
    display: none;
    transform: translateY(-1100px);
  }
  100% {
    display: block;
    transform: translateY(200px);
  }
}

.card {
  width: 500px;
  height: 140px;
  background-color: white;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  z-index: 1;
  margin: 32px 16px;
}

.card:after {
  content: "";
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  background-color: #404eed;
  z-index: 1;
  display: block;
  position: absolute;
}

.card * {
  z-index: 10;
  position: relative;
}

.card .card--icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px;
  position: relative;
}

.card .card--icon img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.card .card--icon span {
  display: block;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #00c900;
  z-index: 10;
  border: solid 5px #404eed;
}

.card .card--content {
  height: 100%;
}

.cEdge {
  top: -150px;
  left: 150px;
}

.card .card--content .name {
  height: 50%;
  display: flex;
  align-items: flex-end;
}

.card .card--content .name span {
  color: #2c2f33;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.card .card--content .playing {
  height: 50%;
}

.pEdge {
  margin-top: 10px;
}

.card .card--content .playing span {
  display: inline-block;
  width: 100%;
}

.card .card--content .playing span.title {
  margin-top: 10px;
  font-size: 12px;
  color: #fbcf73;
}

.card .card--content .playing span.game {
  margin-top: 5px;
  font-size: 16px;
  color: white;
}
